.checkout {
  margin-top: 200px;
  margin-bottom: 300px;
}

.summary {
  padding: 20px 80px;
  background-color: #f6f6f6;
}

.summary h3 {
  text-align: center;
  margin-bottom: 30px;
}

.summary-item {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted gray;
}

.summary button {
  margin-top: 10px;
}
